{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nest</title>
        {% if DJANGO_VITE_DEV_MODE %}
        <script type="module">
            import RefreshRuntime from 'http://localhost:{{ DJANGO_VITE_DEV_SERVER_PORT }}/static/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        {% endif %}

        {% if react_devtools_url %}
            <script src="{{ react_devtools_url }}"></script>
        {% endif %}

        {% vite_hmr_client %}
        {% vite_asset 'frontend/index.tsx' %}
    </head>
    <body>
         <script type="application/javascript">
            // Initial props from the server
            window.initialProps = {{ initial_props|safe }};
         </script>
        <div id="root" class="root-container" />
        <p>Test</p>
        <p>Server port: {{ DJANGO_VITE_DEV_SERVER_PORT }}</p>
    </body>
</html>